@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Lato:wght@100;300;400;700;900&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* -------------
HEADER
---------------- */
header {
    height: 150px;
    width: 100vw;
    margin: 0;
    background-color: #0b1623;
}
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #d9d9d9;
    background-color: #8b87869f;
}

/* --------
TITLE, TEXT
-----------*/
.title-main {
    height: 100%;
    width: 100%;
    color: #fff;
  }

.footer-text,
.footer-text p,
.footer-text a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-height: 100%;
    width: 100%;
    color: #fff;
    font-family: 'Lato';
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

.footer-text p,
.footer-text a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    font-weight: 400;
    margin: 1% 0;
}

/* ------------
SEARCH INPUT
-------------- */
.search-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12.5%;
    width: 100%;
    z-index: 99999999;
}

.search-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
    flex-grow: 1;
    background: #fff;
    min-width: 0;
    text-align: center;
    color: #000221;
}

.title-main h1 {
    margin: 2%;
    font-size: 2.25em;
    font-weight: 300;
    color: #000221;
    font-family: 'Lato';
    color: #101415;
    line-height: 1.75;
}

.results p:hover {
    font-size: 1.2em;
    font-family: 'Lato';
    color: #484c4d;
    font-weight: 500;

}


/* -------------------
| Main Container

---------------------- */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    /* 
    position: relative;
    top: 5%;*/
    font-family: 'Lato', sans-serif;

}

.current-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-color: hsl(220, 100%, 99%)
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    max-height: 100%;
    width: 100%;
    height: 99.99%;
    width: 100vw;
    position: relative;
    z-index: 2000;
    font-family: 'Lato', sans-serif;
}

/* -------------------
| Current Conditions
---------------------- */
.main-weather {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    max-width: 99.5%;
    width: 100%;
    height: 50%;
    top: 2%;
    position: relative;
    z-index: 9999999;
    background-color: #23232321;
    backdrop-filter: blur(6px);
    background-blend-mode: darken;
    margin: 0 auto;
    margin-right: 0.25%;
}

.main-weather-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: auto;
    font-family: 'Lato';
    min-width: none;
}

.conditions-location {
    font-size: 2.5em;
    font-weight: 400;
    align-self: center;
    text-align: center;
    margin: 1% 0;
    flex-wrap: wrap;
    color: hwb(0 100% 0%);
}

.conditions-location h2 {
    font-weight: 400;
}

.text-hourly,
.text-hourly p {
    font-size: 1.2em;
    font-weight: 500;
    color: #252525;
    font-family: 'Lato';
}

/* Change temp button */
.temp-btn {
    height: 2.5em;
    width: 7em;
    border: 0.5px solid #252525;
    background: #fafafa;
    color: #252525;
    font-size: 'Lato';
    font-weight: 400;
    font-size: 1em;
    margin: 1%;
}

.temp-btn:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    cursor: pointer;
}

/* ------------
SEARCH INPUT
-------------- */
.searchInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 85%;
    min-width: 0;
    background: #fff;
    margin: 1%;
    z-index: 9999;
}

.searchInputs input {
    height: 2.5em;
    width: 80%;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 1em;
    font-weight: 300;
    color: #000;
    font-family: 'Lato', sans-serif;
    text-align: left;
    border: none;
}

.dataResult {
    width: 58%;
    top: 120px;
    z-index: 99999;
    overflow: visible;
    overflow-y: auto;
    height: auto;
    background-color: white;
    opacity: 0.95;
    position: absolute;
    align-self: center;
}

.dataResult p {
    display: flex;
    padding: 0 1%;
    font-size: 1em;
    line-height: 1.75;
    color: #252525;
    font-weight: 400;
    font-family: 'Lato';
}

.dataResult p:hover {
    background-color: lightgrey;
}

/* -------------
FLEX LAYOUTS
---------------- */
.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.content-center {
    justify-content: center;
}

.content-start {
    justify-content: flex-start;
}

.content-end {
    justify-content: flex-end;
}

.content-between {
    justify-content: space-between;
}

.content-even {
    justify-content: space-evenly;
}

.content-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.center-self {
    align-self: center;
}

/*------- 
MARGIN, WIDTH
-----------------------*/
.h-100 {
    height: 100%;
}


.h-50 {
    height: 50%;
}

.h-150 {
    height: 150px;
}

/** Margin */
.m-05 {
    margin: 0.5%
}

.m-1 {
    margin: 1%;
}

.mb-1 {
    margin-bottom: 1%;
}

.mt-1 {
    margin-top: 1%;
}

.mbt-1 {
    margin: 1% 0%;
}

.mrl-1 {
    margin: 0% 1%;
}

.m-2 {
    margin: 2%;
}

.mt-2 {
    margin-top: 2%;
}

.mbt-2 {
    margin: 2% 0%;
}

.mrl-2 {
    margin: 0% 2%;
}

.m-3 {
    margin: 3%;
}

.mbt-5 {
    margin: 5% 0%;
}

.mt-10 {
    margin-top: 10%;
}

/** Width */
.w-10 {
    width: 10%;
}

.w-12 {
    width: 12.5%;
}

.w-15 {
    width: 15%;
}

.w-17 {
    width: 17.5%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-98 {
    width: 98%;
}

.w-100 {
    width: 100%;
}

/** Padding */
.p-05 {
    padding: 0.5%
}

.pbt-05 {
    padding: 0.5% 0%
}

.p-1 {
    padding: 1%
}

.pbt-05 {
    padding: 1% 0%
}

.p-2 {
    padding: 2%;
}


/* -------------
SECTIONS
---------------- */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-basis: 100%;
    z-index: 8000;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.query-conditions {
    max-width: 70%;
    align-self: center;
    position: absolute;
    right: 15%;
    z-index: 8000;
    top: 23%;
    margin: 0px auto;
    background-color: #77787937;
}

.location-bg {
    height: 100%;
}

/* -------------
BREAKPOINTS
---------------- */

@media only screen and (min-width: 780px) {
    header {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #8b87869f;
        backdrop-filter: blur(10px);
        z-index: 99999;
        position: absolute;
        width: 100%;
        margin-bottom: 150px;
    }

    .title-main {
        text-align: left;
    }

    .searchInputs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        width: 80%;
        flex-grow: 1;
        background: #fafafa;
        min-width: 0;
        box-shadow: 0 3px 12px rgba(75, 75, 75, 0.518);
    }

    .searchInputs input {
        height: 3em;
        font-size: 1.2em;
        font-weight: 300;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 0.5em;
        margin: 0.25%;
    }

    .dataResult {
        width: 50%;
        top: 160px;
    }

    .main-container {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .main-content {
        justify-content: start;
        align-items: start;
    }

    .query-conditions {
        max-width: 70%;
        position: absolute;
        z-index: 8000;
        top: 35%;
        left: 0%;
        margin: 0;
    }

    .location-bg {
        align-self: flex-end;
        width: 60%;
        height: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .dataResult {
        width: 50%;
        top: 160px;
    }
}

@media only screen and (min-width: 1200px) {
    .dataResult {
        width: 50%;
        top: 170px;
    }
}

@media only screen and (min-width: 1300px) {
    .dataResult {
        width: 50%;
        top: 170px;
    }
}